<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pylint and Glossary</title>

    <link href="CSS/AAATesting.css" rel="stylesheet">
    <link href="CSS/global.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="CSS/index.css">

</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="Images/Logo-removebg-preview.png" class="main-logo" alt="...">
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navbar-nav-scroll ">
                <li class="nav-item justify-content-end">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    <a class="nav-link active" aria-current="page" href="pylint.html">Pylint </a>
                    <a class="nav-link active" aria-current="page" href="AAA.html">AAA </a>
                    <a class="nav-link active" aria-current="page" href="OOPs.html">OOP </a>
                    <a class="nav-link active" aria-current="page" href="SOLID.html">SOLID </a>


                </li>
                <li class="nav-item dropdown flex-column-sm alignn-items-sm-end user-profile-dd">
                    <a class="nav-link dropdown-toggle justify-content-center align-items-center" href="#"
                       id="navbarDropdown1" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="Images/profileicon.jpg" alt='user_avatar' class="me-2 rounded-circle user-avatar">User
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="profile.html">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="logout.html">Log out</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="container">

    <h1 class="mt-5 mb-4" style="background-color:lightsalmon;">Pylint and Glossary Terms</h1>

    <div class="row" style="">
        <div class="col-sm-8">
            <h2 class="mt-3" style="background-color:lightsalmon;">Introduction to Pylint!</h2>
            <p>
            <ul>
                <li>Pylint is a Python static code tool for analysis purposes.</li>
                <li>Pylint has the ability to scan for programming errors, implement coding standards, identify code violation and provide refactoring proposals.</li>
                <li>Pylint is fully customizable by the user, with integral special functions to control individual errors and alerts within the user’s code.</li>
                <li>Pylint can also be executed from an extensive configuration file and gives to the user the ability to write his custom plugins.</li>
                <li>Pylint is in general a free software, complying under the GNU General Public License terms.</li>
            </ul>
            </p>
        </div>

        <div class="col-sm-4">
            <img src="Images/pylint.JPG" alt="Test" style="height: 100%; width: 100%" class="mt-3">
            <span style="font-weight: bold">Introduction to Pylint!</span>
        </div>
    </div>
</div>

<div class="w-100 bg-orange-light py-5">
    <div class="container" style="">
        <div class="row mt-3">
            <div class="col-sm-8">
                <h2 style="background-color:lightsalmon;">How to install Pylint</h2>
                <p>
                <ul>
                    <li>Windows User - Open Command Prompt.</li>
                    <li>Go to the python root directory by using the cd command.</li>
                    <li>Type in the code shown in the picture.</li>
                    <li>Mac User - Simply type in the code in the terminal.</li>
                </ul>
                </p>
            </div>

            <div class="col-sm-4">
                <img src="Images/pylint_install.JPG" style="height: 120%; width: 100%" alt="Encapsulation">
                <span style="font-weight: bold">Installation of Pylint</span>
            </div>
        </div>
    </div>
</div>
<div class="container" style="">
    <div class="row mt-3">
        <div class="col-sm-6">
            <h3 style="background-color:lightsalmon;">Glossary Terms</h3>
            <p>
            <ul>
            <li>Object: An object is simply a collection of data (variables) and methods (functions) that act on those data.</li>
            <li>Class: A Class is like an object constructor, or a "blueprint" for creating objects.</li>
            <li>Methods: Operations (or actions) that objects perform or operations which are performed to an object.</li>
            <li>Constructor: Code that is executed each time an instance of the class is created.</li>
            <li>Static class: Class that cannot be instantiated, so no objects can be created from the class. The class members are instead accessed using the class name.
                A static class provides a shortcut to the members of the class when instancing is unwarranted.</li>
            <li>Factory Method: It is a creational design pattern which solves the problem of creating product objects
                without specifying their concrete classes.</li>
            <li>Instantiation: The creation of an instance of a class.</li>
            </ul>
            </p>
        </div>

        <div class="col-sm-6">
            <p>
                <ul>
                    <li>Namespace: A namespace is a system that has a unique name for each and every object in Python. An object might be a variable or a method.</li>
                    <li>Fixture: Fixtures define the steps and data that constitute the arrange phase of a test (see Anatomy of a test).</li>
                    <li>Type Hint: Type hinting is a formal solution to statically indicate the type of a value within your Python code.</li>
                    <li>Type Cast: Type casting is a method used to change the variables/ values declared in a certain data type into a different data type to match the operation required to be performed by the code</li>
                    <li>Facade: Facade is a structural design pattern that provides a simplified (but limited) interface to a complex system of classes, library or framework.</li>
                    <li>Property: The property() method in Python provides an interface to instance attributes</li>
                </ul>
            </p>
        </div>
    </div>

</div>

<div class="unit_nav">
    <a href="pylint.html"> &lt; Previous</a>
    Page 10 of 13
    <a href="AAA.html"> Next > </a>
</div>
<footer class="container mt-4 mb-4">
    <div class="copyright mb-3" style="text-align: center">Purav Patel&#169;</div>
    <div class="links" style="text-align: center">
        <a href="https://networkinterview.com/what-is-pylint-python-programming/">Introduction to Pylint!</a>
        <a href="https://zurbrigg.com/charcoal-editor-2-documentation/item/ce2-installing-pylint">Installation of Pylint!</a>
        <a href="https://homepages.uc.edu/~thomam/Misc/OO_Terminology.html">Glossary Terms 1</a>
        <a href="https://realpython.com/lessons/type-hinting/">Glossary Terms 2</a>
        <a href="https://www.educba.com/type-casting-in-python/">Glossary Terms 3</a>
        <a href="https://refactoring.guru/design-patterns/facade/python/example">Glossary Terms 4</a>
        <a href="https://www.tutorialsteacher.com/python/property-function">Glossary Terms 5</a>
        <a href="https://github.com/pp733/Project2">Github Link</a>
        <a href="https://validator.w3.org/nu/?showsource=yes&doc=http%3A%2F%2Fpro2calc.eastus.azurecontainer.io%2F" rel="nofollow" title="Validate as HTML5"><img alt="w3c" src="Images/W3c.png" style="height: 50px; width: 100px"></a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>